.button {
    -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Impact";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button Text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
}

.Timer {
    -fx-font-size: 23;
    -fx-font-family: "Impact";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.Message {
    -fx-font-size: 23;
    -fx-font-family: "Impact";
    -fx-text-fill: Red;
    -fx-font-weight: lighter;
}

.Title {
     -fx-font-size: 50;
     -fx-font-family: "Impact";
     -fx-text-fill: white;
     -fx-font-weight: bold;
 }

#Win {
    -fx-font-size: 50;
    -fx-font-family: "Impact";
    -fx-font-weight: bold;
}